.comments-container-root
  display block
  define-container((1000/rfs)rem)
  position relative
  overflow hidden

  .comments-block
    display inline-block
    background #F5F5F5
    padding (20/rfs)rem 0px
    .text
      define-font(mono, (12/rfs)rem, #A9A9A9, normal, normal)
      text-transform uppercase
      margin-top (10/rfs)rem
      padding-left (60/rfs)rem

    .comments-response
      define-font(mono, (16/rfs)rem, #696969, normal, normal)
      padding-left (60/rfs)rem
.pagination
  text-align center
  margin-top (10/rfs)rem
  li
    display inline-block
    a
      display: inline-block
      vertical-align middle
      width (10/rfs)rem
      height (10/rfs)rem
      background white
      border (2/rfs)rem solid blue
      border-radius (7/rfs)rem
      margin-right 10px
      cursor pointer
  .slick-active
    a
      background blue

