@font-face {
  font-family: 'PT Mono';
  src: url('./fonts/PTMono-Bold.eot');
  src: url('./fonts/PTMono-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/PTMono-Bold.woff2') format('woff2'),
    url('./fonts/PTMono-Bold.woff') format('woff'),
    url('./fonts/PTMono-Bold.svg#PTMono-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono';
  src: url('./fonts/PTMono-Regular.eot');
  src: url('./fonts/PTMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/PTMono-Regular.woff2') format('woff2'),
    url('./fonts/PTMono-Regular.woff') format('woff'),
    url('./fonts/PTMono-Regular.svg#PTMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}