define-container(width = (1136/rfs)rem)
  max-width: width
  margin: 0 auto

define-font(family, size, color, lineHeight, weight = normal, letterSpacing = 0)
  font-family: family
  font-size: size
  font-weight: weight
  color: color
  line-height: lineHeight
  letter-spacing: letterSpacing
